header {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}
.links-in-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.links-in-header > p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}
.link-style-in-header {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    align-self: auto;
    text-decoration: none;
}
@media (max-width:750px) {
    .links-in-header {
        display: none;
    }
}