.burger-menu {
    display: none; 
    flex-direction: column; 
    position: absolute;
    top: 60px; 
    right: 20px; 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}

.burger-menu.show {
    display: flex; /* Показываем меню при добавлении класса show */
}

.burger-icon {
    cursor: pointer; /* Указатель при наведении */
}

.burger-icon div {
    width: 30px; /* Ширина линий */
    height: 3px; /* Высота линий */
    background-color: black; /* Цвет линий */
    margin: 5px 0; /* Отступы между линиями */
    transition: all 0.3s ease; /* Плавный переход */
}

/* Медиа-запрос для отображения бургер-меню */
@media (max-width: 900px) {
    .burger-menu {
        display: none; /* Скрыто по умолчанию */
    }
}