.auth-section {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.left-section-auth {
    display: flex;
    min-width: 320px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    background: #090A0C;
}
.left-section-auth > h1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.right-section-auth {
    display: flex;
    min-width: 330px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}
.right-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.right-section-content > p {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
@media (max-width: 700px) {
    .left-section-auth {
        display: none;
    }
}