.input-style-section-for-password-input {
    display: flex;
    min-width: 232px;
    height: 22px;
    padding: 14px 24px;
    align-items: center;
    gap: 8px;

    border-radius: 10px;
    background: #F5F5F5;
}

.input-style-section-for-password-input> input {
    width: 100%;
    background-color:#F5F5F5;
    outline: none;
    border: none;
    background-color: none;

    color: black;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-style-section > input::placeholder {
    color: #BBB;
}

.error-content {
    color: #FF0004;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}