.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    align-self: stretch;
}
.slider {

    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 50px;

    border-radius: 15px;
background: #F2F2F2;
}

  @media (max-width: 1250px) {
    .slider {
        flex-direction: column;
    }
  }